
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="~/Content/Index.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="contenedor">
        <section class="contenido-header">
            <section class="textos-header">
                <h1>Food Cash</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, veniam?</p>
                <a href="#">Learn more</a>
            </section>
            <img src="~/Imagenes/Index.jpg" />
        </section>
    </div>

    <section class="about-us">
        <div class="contenedor1">
            <h2 class="titulo">¡Elije una opcion!</h2>
            <div class="contenedor-articulo">
                <div class="articulo">
                    <img src="~/imagenes/Inventarios.png" alt="">
                    <h3>Inventarios</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis at repellat deserunt eaque, adipisci maiores.</p>
                    <a href="#">Read more ---></a>
                </div>
                <div class="articulo">
                    <img src="~/imagenes/Ventas.png" alt="">
                    <h3>Ventas</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis at repellat deserunt eaque, adipisci maiores.</p>
                    <a href="#">Read more ---></a>
                </div>
                <div class="articulo">
                    <img src="~/imagenes/Usuarios.png" alt="">
                    <h3>Usuarios</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis at repellat deserunt eaque, adipisci maiores.</p>
                    <a href="#">Read more ---></a>
                </div>
                <div class="articulo">
                    <img src="~/imagenes/Caja.png" alt="">
                    <h3>Caja</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis at repellat deserunt eaque, adipisci maiores.</p>
                    <a href="#">Read more ---></a>
                </div>
                <div class="articulo">
                    <img src="~/imagenes/Reporte.png" alt="">
                    <h3>Reportes</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis at repellat deserunt eaque, adipisci maiores.</p>
                    <a href="#">Read more ---></a>
                </div>
                <div class="articulo">
                    <img src="~/imagenes/Settings.png" alt="">
                    <h3>Configuracion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis at repellat deserunt eaque, adipisci maiores.</p>
                    <a href="#">Read more ---></a>

                </div>
            </div>
        </div>
    </section>


    <section class="results">
        <div class="contenedor1 conten-results">
            <section class="numbers">
                <div class="number">
                    <h4>-30%</h4>
                    <p>Mojarra.</p>
                    <p>Antes: <del>$2.500.000</del></p>
                    <p>Ahora: $1.750.000</p>
                </div>
                <div class="number">
                    <h4>-30%</h4>
                    <p>Lomo de cerdo</p>
                    <p>Antes: <del>$2.500.000</del></p>
                    <p>Ahora: $1.750.000</p>
                </div>
                <div class="number">
                    <h4>-30%</h4>
                    <p>Sancocho.</p>
                    <p>Antes: <del>$1.080.000</del></p>
                    <p>Ahora: $756.000</p>
                </div>
                <div class="number">
                    <h4>-30%</h4>
                    <p>Bandeja Paisa.</p>
                    <p>Antes: <del>$750.000</del></p>
                    <p>Ahora: $525.000</p>
                </div>
            </section>
            <section class="results-text">
                <h4>Ofertas</h4>
                <p>Aprovecha las ultimas ofertas el dia de hoy ¡NO TE LO PIERDAS!</p>
                <a href="#">Ingrese aqui</a>
            </section>
        </div>
    </section>

    <section class="contenedor1 services">

        <img src="~/Imagenes/imagen_secundaria.svg" alt="">

        <div class="box-skills">
            <h4><i class="far fa-check-circle"></i> Compromiso</h4>
            <h4><i class="far fa-check-circle"></i> Honestidad</h4>
            <h4><i class="far fa-check-circle"></i> Pasión</h4>
            <h4><i class="far fa-check-circle"></i> Vocación</h4>
            <h4><i class="far fa-check-circle"></i> Agilidad</h4>
        </div>

    </section>




    <script src="https://kit.fontawesome.com/d49ad5ab73.js" crossorigin="anonymous"></script>
</body>
</html>