
@{
    ViewBag.Title = "Sedes";
}

<div class="contenedor">
    <br />
    <br />
    <h2>Sedes</h2><br />

    <ul>
        <li>Bogotá</li>
        <ul>Castellana: Calle 93 # 43 - 05</ul>
        <ul>Santa Isabel: Calle 8 # 33b - 56 Sur</ul>
    </ul>
    <br />
    <ul>
        <li>Medellin</li>
        
        <ul>Santa Cruz: Calle 98a # 49b - 56 </ul>
    </ul>
    <br />
    <br />
</div>
